:root {
    --hijau1-color : #4C6444;
    --hijau2-color : #77996C;
    --hijau3-color : #102820;
    --coklat-color : #B3865F;
    --cream-color : #FAF9E2;
    --cream2-color : #F8F6D4;
}

.offcanvas {
    transition: transform 0.3s ease-in-out !important;
    background-color: var(--cream-color);
    opacity: 1;
}

@media (max-width: 768px) {
    .body {
        height: 200%;
    }

    .offcanvas-start {
        transform: translateY(-100%) !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 52vh !important;
        will-change: transform;
        background: var(--cream-color);
    }

    .offcanvas-start.show {
        transform: translateY(0) !important;
        opacity: 1;
    }

    .offcanvas-start:not(.show) {
        transform: translateY(-100%) !important;
        opacity: 0;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out !important;
    }

    .content-box {
        top: 22rem;
        left: 4%;
        width: 90%;
    }

    #time { 
        font-size: 7.5rem;
    }

    .offcanvas-body .nav-link {
        width: 15rem;
    }

    .offcanvas-body .list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
}

@media (max-width: 455px) {
    #time { 
        font-size: 5rem;
    }

    .content-box {
        top: 11rem;
        left: 4%;
        width: 90%;
    }

    .offcanvas-body .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.5rem;
        height: 4rem;
    }

    .offcanvas-body .list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: left !important;
    }

    .offcanvas-start {
        height: 27vh !important;
    }

    .list{
        font-size: 0.8rem;
        text-align: start;

    }
    
    .list img {
        scale: 0.4;
    }

    iframe {
        height: 80%;
    }

    button.nav-link span { 
        display: none;
    }

    .music-box {
        height: 40vh;
    }

    .update {
        margin-top: 0% !important;
    }

    .button2 {
        margin-top: 2rem;
    }
    
    .info {
        display: none;
    }
}

@media (max-width: 366px) {
    .content-box {
        top: 13rem;
        left: 4%;
        width: 90%;
    }

    .offcanvas-body .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.5rem;
        height: 4rem;
    }
}
